{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    {% include "modal.html" %}
    <!-- Modal -->

    {% if count > 0 %}
    <div class="card search__card">
      <div class="card-body">
        <h5 class="card-title text-center mb-3"><i class="fas fa-backspace" style="float: left; color: dimgray"></i> 주소 검색</h5>
        <div class="card-body" style="border-top: 1px solid #dee2e6;">
          {% for i in range(0, count) %}
          <div class="d-flex mb-5">
            <input type="text" name="area" class="form-control text-center {{'area' + i}}" placeholder="주소를 입력해주세요.">
            <button class="btn btn-primary search__btn {{'search__btn' + i}}"><i class="fas fa-search"></i></button>
          </div>
          <div id="{{'clickLatlng' + i}}"></div>
          {% endfor %}
            <div id="menu_wrap" class="bg_white">
            <ul id="placesList"></ul>
            <div id="pagination"></div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" style="width: 100%;">약속 장소찾기</button>
      </div>
    </div>
    {% endif %}

    <div>
      <div id="map"></div>
    </div>
  </div>
{% endblock %}