{% extends 'layout.html' %}

{% block content %}
<div class="vertical-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <div class="card " style="min-height: 400px;">
          <div class="card-header text-center" style="border-top: 2px solid #063146;">
            HereThere!
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <div class="row d-flex justify-content-center">
                  <div class="col-10 my-3">
                    <input type="text" class="form-control" id="ID" placeholder="아이디">
                  </div>
                  <div class="col-10 my-3">
                    <input type="text" class="form-control" id="ID" placeholder="비밀번호">
                  </div>
                  <div class="col-10 my-3">
                    <input class="form-check-input" type="checkbox" id="remember">
                    <label class="form-check-label" for="remember">
                      아이디 기억하기
                    </label>
                  </div>
                  <div class="col-10 my-3">
                    <a href="/"> 비밀번호를 잊으셨나요?</a>
                  </div>
                </div>
                
              </div>
            </form>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}