<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">검색설정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/search" method="post">
          <div class="modal-body">
            <div class="container">
              <div class="row">
                
                <div class="col-12 mb-5">
                  <p>몇 명의 주소를 검색할까요?</p>
                  <input type="number" name="count" value="2" class="form-control text-center">
                </div>
                <div class="col-12">
                  <p>어떤 장소를 추천해드릴까요?</p>
                  <select class="form-select" name="purpose" aria-label="Default select example">
                    <option selected>...</option>
                    <option value="restaurant">맛집</option>
                    <option value="study">스터디</option>
                    <option value="downtown">핫플레이스</option>
                  </select>
                </div>
                
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">저장</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
