{% if page !== 'search' %}
<div class="sidebar">
  <a href="/">
    <header><i class="fas fa-location-arrow pe-2"></i>HereThere</header>
  </a>
  <ul class="">
    <li><a href="/login"><i class="fas fa-key pe-2"></i>로그인</a></li>
    <li><a href="/register"><i class="fas fa-sign-in-alt pe-2"></i>회원가입</a></li>
    <li><a data-bs-toggle="modal" data-bs-target="#exampleModal" id="search" href="/search"><i class="fas fa-search-location pe-2"></i>장소찾기</a></li>
    <li><a href="/history"><i class="fas fa-history pe-2"></i>검색기록</a></li>
    <li><a href="/guide"><i class="fas fa-info-circle pe-2"></i>이용안내</a></li>
  </ul>
  
</div>

{% endif %}