@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}
ul {
    margin-bottom: 0 !important;
    margin-top: none !important;
}
.nav-bar{
    display: flex;
    align-items: center;
    background-color: #1565c0!important;
    border-color: #1565c0!important;
    padding : 2px 24px;
    height: 64px;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px rgb(0 0 0 / 80%);
}
.nav-logo{
    color: white;
    font-size: 24px;
}

.nav-menu-ul{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.nav-menu li {
    padding: 15px 30px;
}

a, a:link, a:visited {
    text-decoration: none;
    font-weight: 700;
    color: white;
}
/* ▲ 네비게이션 바 */
#map{
    position:relative;
    overflow:hidden;
    width:100%;
    min-height: 65vh;
    box-shadow:  0 0 10px rgb(0 0 0 / 80%);
}
